<ion-header>
  <ion-toolbar>
    <ion-title>
      Autorização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #meuForm='ngForm'>
    <ion-item>
      <ion-label position="floating"> Aluno: </ion-label>
      <ion-select [(ngModel)]="autorizar.cadastro" placeholder="Selecione o aluno!">
        <ion-select-option *ngFor='let cadastro of listaCadastro | async' [value]="cadastro">
          {{cadastro.cadastro}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Motivo para saída do aluno: </ion-label>
      <ion-input #motivo='ngModel' type="text" [(ngModel)]="autorizar.motivo" name='motivo' placeholder="Insire o motivo" required> </ion-input>
    </ion-item>

    <span style='color:red' *ngIf="motivo.errors && motivo.touched">
      <ion-label> O motivo é obrigatório! </ion-label>
    </span>

    <ion-item>
      <ion-label position="floating"> O nome de quem buscará o aluno: </ion-label>
      <ion-input #nome='ngModel' type="text" [(ngModel)]="autorizar.nome" name='nome' placeholder="Insire o nome" required> </ion-input>
    </ion-item>

    <span style='color:red' *ngIf="nome.errors && nome.touched">
      <ion-label> O nome é obrigatório! </ion-label>
    </span>

    <ion-item>
      <ion-label position="floating"> Parentesco de quem buscará o aluno: </ion-label>
      <ion-input #parentesco='ngModel' type="text" [(ngModel)]="autorizar.parentesco" name='parentesco' placeholder="Insire o parentesco" required> </ion-input>
    </ion-item>

    <span style='color:red' *ngIf="parentesco.errors && parentesco.touched">
      <ion-label> O parentesco é obrigatório! </ion-label>
    </span>

    <ion-item>
      <ion-label position="floating"> Data: </ion-label>
      <ion-input #data='ngModel' type="text" [(ngModel)]="autorizar.data" name='data' placeholder="Insire a data" required> </ion-input>
    </ion-item>

    <span style='color:red' *ngIf="data.errors && data.touched">
      <ion-label> A data é obrigatória! </ion-label>
    </span>

    <ion-item>
      <ion-label position="floating"> Horário: </ion-label>
      <ion-input #horario='ngModel' type="text" [(ngModel)]="autorizar.horario" name='horario' placeholder="Insire o horario" required> </ion-input>
    </ion-item>

    <span style='color:red' *ngIf="horario.errors && horario.touched">
      <ion-label> O horário é obrigatório! </ion-label>
    </span>

    <ion-button [disabled]='!meuForm.form.valid' expand="full" (click)='enviar()' shape='round'> Enviar </ion-button>
    <ion-button expand=full href='pagina' shape='round'> Voltar </ion-button>

  </form>
</ion-content>
