<ion-header>
  <ion-toolbar>
    <ion-title> Autorizações </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let autorizar of listarFiltro">
      <ion-label> <b> Aluno: {{ autorizar.cadastro }}</b> <br> Motivo: {{ autorizar.motivo }} <br />
        <b> Nome: {{ autorizar.nome }}</b> <br> Motivo: {{ autorizar.motivo }} <br />
        <b> Data: {{ autorizar.data }}</b> <br> Horário: {{ autorizar.horario }} <br /></ion-label>

      <ion-button (click)="excluir(autorizar)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand=full href='autorizar-salvar' shape='round'> Voltar para tela de Autorização </ion-button>
  <ion-button expand=full href='pagina' shape='round'> Voltar para tela inicial </ion-button>
</ion-content>
