<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let cadastro of listaCadastro | async">
        <ion-label> <b> Nome: {{ cadastro.nome }}</b> <br> RG: {{ cadastro.rg }} <br />
          <b> CPF: {{ cadastro.cpf }}</b> <br> Aluno: {{ cadastro.aluno }} <br />
          <b> Curso: {{ cadastro.curso }}</b> <br> Ano: {{ cadastro.ano }} <br />
          <b> Grau: {{ cadastro.grau }}</b></ion-label>

        <ion-button (click)="excluir(cadastro)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button (click)="alterar(cadastro)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button expand=full href='cadastro-salvar' shape='round'> Voltar para tela de Cadastrar </ion-button>
  <ion-button expand=full href='pagina' shape='round'> Voltar para tela inicial </ion-button>
</ion-content>
