<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cadastro of listaCadastro | async">
      <ion-label>{{ cadastro.nome }}</ion-label>
      <ion-label>{{ cadastro.aluno }}</ion-label>
      <ion-label>{{ cadastro.curso }}</ion-label>
      <ion-label>{{ cadastro.ano }}</ion-label>
      <ion-button (click)="excluir(cadastro.key)" href="cadastro-listar">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand=full href='cadastro-salvar' shape='round'> Voltar para tela de Cadastro </ion-button>
  <ion-button expand=full href='pagina' shape='round'> Voltar para tela inicial </ion-button>
</ion-content>
